.menu {
    flex: auto;
}

.menu ul li a {
    justify-content: end;
    margin: 0 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    color: aqua;
    text-decoration: underline;
    transition: all .3s ease-in;
}

#fundo {
    justify-content: end;
}

.itens {
    padding: 10% 0;
    margin-left: 25%;
}

.produtos .card {
    background: black;
    color: white;
    font-size: 16px;
}

.produtos .card a:hover {
    background: rgb(6, 104, 208);
    transition: all .3s ease-in;
}