<div class="d-flex w-100">
    <div class="col-6 d-grid mx-2">
        <div class="p-2">
            <form class="formulario">
                <label>
                    Nome do produto:
                    <input class="form-control" type="text" placeholder="Ferro de passar" aria-label="default input example"><br>
                </label>
                <label>
                    Categoria:
                    <input class="form-control" type="text" placeholder="Eletrodomestico" aria-label="default input example">
                    <br>
                </label>
                <label>
                    Preço do produto:
                    <input class="form-control" type="text" placeholder="R$ 59,90" aria-label="default input example">
                    <br>
                </label>
            </form>
        </div>
        <button>Criar</button>
        <button>Voltar</button>
    </div>
</div>